<div class="well well-sm">
	Buy some donuts from Quincy's money!
	<p>From: Quincy Checking - ID: 582d2c84360f81f104553fad </p>

	<br>
	<br>

	<p>To: Dunkin' Donuts - ID: 57cf75cea73e494d8675ec49 </span></p>

	<br>
	<br>

	<form action="/purchase" method="POST">
		<p>Amount: <span id="purchaseAmount"></span></p>
		<input id="amount" type="text" name="amount" />
		<br><br>
		<p>Description: <span id="purchaseDescription"></span></p>
		<input id="description" type="text" name="description" />
		<br><br>

		<input type="submit" class="btn btn-primary" name="Confirm Purchase">
	</form>
</div>